@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

:root{
  --bg-color: #34353a;
  --seconde-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #ffc86a;

  /* font */
  --font-family: 'Source Code Pro';

  --fs-nav-1: 1.7rem;
  --fs-nav-2: 2.5rem;
  --fs-nav-3: 3.6rem;

  /* h tags */
  --fs-h0: 4.0rem;
  --fs-h1: 4.0rem;
  --fs-h2: 3.0rem;
  --fs-h3: 2.5rem;
  --fs-h4: 1.5rem;

  /* icons and language buttons */
  --fs-lan: 1.25rem;
  --fs-icon: 1.9rem;

  /* p tags */
  --fs-p0: 1.0rem;
  --fs-p1: 1.3rem;
  --fs-p2: 1.5rem;
  --fs-p3: 1.9rem;
  --fs-p4: 2.1rem;
  --fs-p5: 2.4rem;
  --fs-p6: 2.8rem;
  --fs-p7: 3.0rem;
  --fs-p8: 3.2rem;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  /*scroll-behavior: smooth;*/
  font-family: var(--font-family);
}

/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*}*/


html, body {
  font: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: url('../static/images/example.png') no-repeat center center fixed;
  background-size: cover;
}


/*--------------------------- HEADER ---------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between; /* original: space-between */
  align-items: center;
  z-index: 100;
}
.logo {
  font-family: 'Tourney';
  font-size: var(--fs-nav-2);
  color: var(--main-color);
  font-weight: 600;
}
.navbar a {
  font-size: var(--fs-nav-1);
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  transition: .3s;
}
#menu-icon {
  font-size: var(--fs-nav-3);
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
/*--------------------------- HEADER ---------------------------*/
/*--------------------------- SECTION ---------------------------*/
section {
  min-height: 100vh;
  max-width: 100%;
  padding: 10rem 9% 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
/*---------------- Language Buttons ----------------*/
/* Language buttons position */
.language-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 2.5rem;
  top: 6rem;
  right: 10.2rem;
  gap: 1.0rem;
}
/* Language buttons a style and size */
.language-buttons button {
  font-family: 'Source Code Pro';
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: .2rem solid var(--logo-color);
  border-radius: 50%;
  font-size: var(--fs-lan);
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
/* hover transition */
.language-buttons button:hover,
.language-buttons button.active {
  color: var(--bg-color);
}
/* Language buttons a before transition */
.language-buttons button::before,
.language-buttons button.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}
/* Language buttons a filling */
.language-buttons button:hover::before,
.language-buttons button.active::before {
  width: 100%;
}
/*---------------- Language Buttons ----------------*/
/*---------------- Social Media ----------------*/
/* Social Media position */
.social-media {
  position: absolute;
  bottom: 4rem;
  width: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: 10.2rem;
  gap: 1.0rem;
}
.social-media a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  /* border: .2rem solid var(--logo-color); */
  border-radius: 50%; /* original: 50% */
  font-size: var(--fs-icon);
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.social-media a:hover {
  color: var(--bg-color);
}
.social-media a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}
.social-media a:hover::before{
  width: 100%;
}
/*---------------- Social Media ----------------*/
/*---------------- ImgHover ----------------*/
/* border: 2px solid red; */
/* .imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
} */
/* .imgHover:hover {
  background: var(--bg-color);
  opacity: .8;
} */
/*---------------- ImgHover ----------------*/
/*--------------------------- SECTION ---------------------------*/

/*----------------------------------- BREAK POINTS -----------------------------------*/
/*------------------------------- max-width:1280px -------------------------------*/
@media (max-width:1680px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- SECTION ---------------*/
  section .language-buttons {
    margin: 0 -1.3rem 0 0;
  }
  section .social-media {
    margin: 0 -1.3rem 0 0;
  }
  /*--------------- SECTION ---------------*/
  /*---------------------- ALL PAGES ----------------------*/
}
/*------------------------------- max-width:1280px -------------------------------*/
/*------------------------------- max-width:1024px -------------------------------*/
@media (max-width:1280px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- SECTION ---------------*/
  section .language-buttons {
    margin: 0 -2.5rem 0 0;
  }
  section .social-media {
    margin: 0 -2.5rem 0 0;
  }
  /*--------------- SECTION ---------------*/
  /*---------------------- ALL PAGES ----------------------*/
      /*---------------------- INDEX PAGE ----------------------*/
  section .index_content {
    max-width: 30rem;
  }
  section .index_content h1{
    max-width: 30rem;
  }
  section .index_content .text-animate h2 {
    max-width: 30rem;
  }
  section .index_content p {
    /*font-size: 1.2rem;*/
    max-width: 30rem;
  }
  section .index_content .btn-box {
    max-width: 30rem;
  }
  /*---------------------- INDEX PAGE ----------------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  section .about_content {
    width: 30rem;
  }
  section .about_content h1{
    /*font-size: 2.6rem;*/
  }
  section .about_content p {
    max-width: 30rem;
  }
  section .about_content .btn-box {
    width: 30rem;
  }
  section .about_content .btn-box .tab_links {
    width: 30rem;
  }
  /*--------------- TABS ---------------*/
  #tools {
    width: 30rem;
  }
  #tools ul li img {
    /*width: 3.5rem;*/
    /*height: 3.5rem;*/
    /*margin: 0 0 0 0;*/
  }
  #tools ul li {
    /*margin: 0 0.5rem 0 0;*/
  }
  #skills {
    width: 30rem;
  }
  section .about_content #skills ul li.skills_title {
    /*font-size: 1.1rem;*/
    width: 30rem;
  }
  section .about_content #skills ul li.skills_text {
    /*font-size: 0.9rem;*/
    width: 30rem;
  }
  #education {
    width: 30rem;
  }
  section .about_content #education ul li.education_title {
    /*font-size: 1.1rem;*/
    width: 30rem;
  }
  section .about_content #education ul li.education_text {
    /*font-size: 0.9rem;*/
    width: 30rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  section .portfolio_content {
    width: 30rem;
    /*top: 6rem;*/
  }
  section .portfolio_content h1{
    /*font-size: 2.6rem;*/
  }
  /*--------------- TABS ---------------*/
  section .portfolio_content .btn-box {
    width: 30rem;
    /*height: 4rem;*/
  }
  section .portfolio_content .btn-box .tab_links {
    /*font-size: 1.0rem;*/
    /*margin: 0 0 0 0;*/
    /*justify-content: left;*/
  }
  section .portfolio_content .tab_content ul li.item .text h4{
    /*font-size: 1.2rem;*/
  }
  section .portfolio_content .tab_content ul li.item .text p{
    /*font-size: 0.9rem;*/
  }
  section .portfolio_content .link {
      /*font-size: 0.9rem;*/
  }
  /*--------------- TABS ---------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  /*---------------------- CONTACT PAGE ----------------------*/
  section .contact_content {
    width: 30rem;
    /*top: 9rem;*/
  }
  section .contact_content h1{
    /*font-size: 2.6rem;*/
  }
 section .contact_content .contact_form .form_item {
    width: 30rem;
  }
  /*---------------------- CONTACT PAGE ----------------------*/
}
/*------------------------------- max-width:1024px -------------------------------*/
/*------------------------------- max-width:972px -------------------------------*/
@media (max-width:972px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- HEADER ---------------*/
  .navbar a {
    margin-left: 1.5rem;
  }
  /*--------------- HEADER ---------------*/
  /*---------------------- ALL PAGES ----------------------*/
}
/*------------------------------- max-width:972px -------------------------------*/
/*------------------------------- max-width:830px -------------------------------*/
@media (max-width:830px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- HEADER ---------------*/
  header {
    width: 100%;
    box-sizing: border-box;
  }
  header #menu-icon {
      margin-right: -1rem;
  }
  #menu-icon {
      display: block;
      left: 10rem;
  }
  .navbar {
      position: absolute;
      top: -19.5rem;
      left: 0;
      width:100%;
      padding: 0 2.45rem;
      background: var(--bg-color);
      z-index: -1;
      display: none;
  }
  .navbar.active {
      top: 6rem;
      display: block;
  }
  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transition: translateX(-20rem);
      transition: 2s ease;
      transition-delay: 0s;
  }
  /*--------------- HEADER ---------------*/
  /*--------------- SECTION ---------------*/
  section .language-buttons {
    margin: 3rem -6rem 0 0;
    position: absolute;
    box-sizing: border-box;
  }
  section .social-media {
    margin: 0 -6rem 0 0;
    bottom: 2rem;
  }
  /*--------------- SECTION ---------------*/

  /*---------------------- ALL PAGES ----------------------*/
  /*---------------------- INDEX PAGE ----------------------*/
  section .index_content {
    max-width: 25rem;
    bottom: 15rem;
    position: fixed;
  }
  section .index_content h1{
    font-size: 2.8rem;
    max-width: 25rem;
    bottom: 6rem;
  }
  section .index_content .text-animate h2 {
    font-size: 2.2rem;
    max-width: 25rem;
  }
  section .index_content p {
    /*font-size: 1.2rem;*/
    max-width: 25rem;
  }
  section .index_content .btn-box {
    max-width: 25rem;
  }
  /*---------------------- INDEX PAGE ----------------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  section .about_content {
    width: 25rem;
    top: 9rem;
  }
  section .about_content h1{
    /*font-size: 2.6rem;*/
  }
  section .about_content p {
    /*font-size: 1.0rem;*/
    /*max-width: 20.0rem;*/
    /*margin: 0 0 0 0 ;*/
  }
  section .about_content .btn-box {
    width: 25rem;
    /*height: 4rem;*/
  }
  section .about_content .btn-box .tab_links {
    font-size: 1.3rem;
    margin: 0 0 0 0;
    justify-content: left;
    width: 25rem;
  }
  /*--------------- TABS ---------------*/
  #tools {
    width: 25rem;
  }
  #tools ul li img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 0 0 0;
  }
  #tools ul li {
    margin: 0 0.5rem 0 0;
  }
  #skills {
    width: 25rem;
  }
  section .about_content #skills ul li.skills_title {
    /*font-size: 1.1rem;*/
    width: 25rem;
  }
  section .about_content #skills ul li.skills_text {
    /*font-size: 0.9rem;*/
    width: 25rem;
  }
  #education {
    width: 25rem;
  }
  section .about_content #education ul li.education_title {
    /*font-size: 1.1rem;*/
    width: 25rem;
  }
  section .about_content #education ul li.education_text {
    /*font-size: 0.9rem;*/
    width: 25rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  section .portfolio_content {
    width: 30rem;
    top: 9rem;
  }
  section .portfolio_content h1{
    /*font-size: 2.6rem;*/
  }
  /*--------------- TABS ---------------*/
  section .portfolio_content .btn-box {
    width: 30rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  /*---------------------- CONTACT PAGE ----------------------*/
  section .contact_content {
    width: 25rem;
    top: 12rem;
  }
 section .contact_content .contact_form .form_item {
    width: 25rem;
  }
  /*---------------------- CONTACT PAGE ----------------------*/
}
/*------------------------------- max-width:830px -------------------------------*/
/*------------------------------- max-width:640px -------------------------------*/
@media (max-width:640px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- HEADER ---------------*/
  header {
    width: 100%;
    box-sizing: border-box;
  }
  header #menu-icon {
      margin-right: -1rem;
  }
  #menu-icon {
      display: block;
      left: 10rem;
  }
  .navbar {
      position: absolute;
      top: -19.5rem;
      left: 0;
      width:100%;
      padding: 0 2.45rem;
      background: var(--bg-color);
      z-index: -1;
      display: none;
  }
  .navbar.active {
      top: 6rem;
      display: block;
  }
  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transition: translateX(-20rem);
      transition: 2s ease;
      transition-delay: 0s;
  }
  /*--------------- HEADER ---------------*/
  /*--------------- SECTION ---------------*/
  section .language-buttons {
    margin: 3rem -7rem 0 0;
    position: absolute;
    box-sizing: border-box;
  }
  section .social-media {
    margin: 0 -7rem 0 0;
    bottom: 2rem;
  }
  /*--------------- SECTION ---------------*/

  /*---------------------- ALL PAGES ----------------------*/
  /*---------------------- INDEX PAGE ----------------------*/
  section .index_content {
    max-width: 22rem;
    bottom: 15rem;
    position: fixed;
  }
  section .index_content h1{
    font-size: 2.5rem;
    max-width: 22rem;
    bottom: 6rem;
  }
  section .index_content .text-animate h2 {
    font-size: 2rem;
    max-width: 22rem;
  }
  section .index_content p {
    font-size: 1.2rem;
    max-width: 22rem;
  }
  section .index_content .btn-box {
    max-width: 22rem;
  }
  /*---------------------- INDEX PAGE ----------------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  section .about_content {
    width: 22rem;
    top: 9rem;
  }
  section .about_content h1{
    font-size: 3.0rem;
    margin-bottom: 2rem;
  }
  section .about_content p {
    font-size: 1.2rem;
    max-width: 22rem;
    margin: 0 0 0 0 ;
  }
  section .about_content .btn-box {
    width: 22rem;
    height: 4rem;
  }
  section .about_content .btn-box .tab_links {
    font-size: 1.2rem;
    margin: 0 0 0 0;
    justify-content: left;
    width: 22rem;
  }
  /*--------------- TABS ---------------*/
  #tools {
    width: 22rem;
  }
  #tools ul li img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 0 0 0;
  }
  #tools ul li {
    margin: 0 0.5rem 0 0;
  }
  #skills {
    width: 22rem;
  }
  section .about_content #skills ul li.skills_title {
    font-size: 1.2rem;
    width: 22rem;
  }
  section .about_content #skills ul li.skills_text {
    font-size: 1.0rem;
    width: 22rem;
  }
  #education {
    width: 22rem;
  }
  section .about_content #education ul li.education_title {
    font-size: 1.2rem;
    width: 22rem;
  }
  section .about_content #education ul li.education_text {
    font-size: 1.0rem;
    width: 22rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  section .portfolio_content {
    width: 22rem;
    top: 10rem;
  }
  section .portfolio_content h1{
    font-size: 3.0rem;
  }
  /*--------------- TABS ---------------*/
  section .portfolio_content .btn-box {
    width: 22rem;
    height: 4rem;
  }
  section .portfolio_content .btn-box .tab_links {
    font-size: 1.2rem;
    margin: 0 0 0 0;
    justify-content: left;
  }
  section .portfolio_content .tab_content ul li.item .text h4{
    font-size: 1.2rem;
  }
  section .portfolio_content .tab_content ul li.item .text p{
    font-size: 1.0rem;
  }
  section .portfolio_content .link {
      font-size: 1.0rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  /*---------------------- CONTACT PAGE ----------------------*/
  section .contact_content {
    width: 22rem;
    top: 12rem;
  }
  section .contact_content h1{
    font-size: 3.0rem;
  }
 section .contact_content .contact_form .form_item {
    width: 22rem;
  }
  /*---------------------- CONTACT PAGE ----------------------*/
}
/*------------------------------- max-width:640px -------------------------------*/
/*------------------------------- max-width:430px -------------------------------*/
@media (max-width:430px){
  /*---------------------- ALL PAGES ----------------------*/
  /*--------------- HEADER ---------------*/
  header {
    width: 100%;
    box-sizing: border-box;
  }
  header #menu-icon {
      margin-right: -1rem;
  }
  #menu-icon {
      display: block;
      left: 10rem;
  }
  .navbar {
      position: absolute;
      top: -19.5rem;
      left: 0;
      width:100%;
      padding: 0 2.45rem;
      background: var(--bg-color);
      z-index: -1;
      display: none;
  }
  .navbar.active {
      top: 6rem;
      display: block;
  }
  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transition: translateX(-20rem);
      transition: 2s ease;
      transition-delay: 0s;
  }
  /*--------------- HEADER ---------------*/
  /*--------------- SECTION ---------------*/
  section .language-buttons {
    margin: 3rem -8.4rem 0 0;
    position: absolute;
    box-sizing: border-box;
  }
  section .social-media {
    margin: 0 -8.4rem 0 0;
    bottom: 2rem;
  }
  /*--------------- SECTION ---------------*/

  /*---------------------- ALL PAGES ----------------------*/
  /*---------------------- INDEX PAGE ----------------------*/
  section .index_content {
    max-width: 20rem;
    bottom: 15rem;
    position: fixed;
  }
  section .index_content h1{
    font-size: 2.3rem;
    max-width: 20rem;
    bottom: 6rem;
  }
  section .index_content .text-animate h2 {
    font-size: 1.8rem;
    max-width: 20rem;
  }
  section .index_content p {
    font-size: 1.2rem;
    max-width: 20rem;
  }
  section .index_content .btn-box {
    max-width: 20rem;
  }
  /*---------------------- INDEX PAGE ----------------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  section .about_content {
    width: 20rem;
    top: 6rem;
  }
  section .about_content h1{
    font-size: 2.6rem;
  }
  section .about_content p {
    font-size: 1.0rem;
    max-width: 20.0rem;
    margin: 0 0 0 0 ;
  }
  section .about_content .btn-box {
    width: 20.0rem;
    height: 4rem;
  }
  section .about_content .btn-box .tab_links {
    font-size: 1.0rem;
    margin: 0 0 0 0;
    justify-content: left;
    width: 20rem;
  }
  /*--------------- TABS ---------------*/
  #tools {
    width: 20rem;
  }
  #tools ul li img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 0 0 0;
  }
  #tools ul li {
    margin: 0 0.5rem 0 0;
  }
  #skills {
    width: 20rem;
  }
  section .about_content #skills ul li.skills_title {
    font-size: 1.1rem;
    width: 20rem;
  }
  section .about_content #skills ul li.skills_text {
    font-size: 0.9rem;
    width: 20rem;
  }
  #education {
    width: 20rem;
  }
  section .about_content #education ul li.education_title {
    font-size: 1.1rem;
    width: 20rem;
  }
  section .about_content #education ul li.education_text {
    font-size: 0.9rem;
    width: 20rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- ABOUT PAGE ----------------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  section .portfolio_content {
    width: 20rem;
    top: 6rem;
  }
  section .portfolio_content h1{
    font-size: 2.6rem;
  }
  /*--------------- TABS ---------------*/
  section .portfolio_content .btn-box {
    width: 20rem;
    height: 4rem;
  }
  section .portfolio_content .btn-box .tab_links {
    font-size: 1.0rem;
    margin: 0 0 0 0;
    justify-content: left;
  }
  section .portfolio_content .tab_content ul li.item .text h4{
    font-size: 1.2rem;
  }
  section .portfolio_content .tab_content ul li.item .text p{
    font-size: 0.9rem;
  }
  section .portfolio_content .link {
      font-size: 0.9rem;
  }
  /*--------------- TABS ---------------*/
  /*---------------------- PORTFOLIO PAGE ----------------------*/
  /*---------------------- CONTACT PAGE ----------------------*/
  section .contact_content {
    width: 20rem;
    top: 9rem;
  }
  section .contact_content h1{
    font-size: 2.6rem;
  }
 section .contact_content .contact_form .form_item {
    width: 20rem;
  }
  /*---------------------- CONTACT PAGE ----------------------*/
}
/*------------------------------- max-width:430px -------------------------------*/
/*----------------------------------- BREAK POINTS -----------------------------------*/



